In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
user_profile = pd.read_csv('C:/Users/Charan/Downloads/userid-profile.tsv',sep='\t')

In [11]:
user_profile.head(100)

            #id gender   age  country    registered
0   user_000002      f  56.0    Japan  Sep 12, 2006
1   user_000003      f  23.0    China  Jan 01, 2008
2   user_000004      f  45.0      U.S  Mar 09, 2006
3   user_000005      m  22.0  England  Apr 26, 2010
4   user_000006      m  84.0   Russia  Aug 13, 2007
..          ...    ...   ...      ...           ...
94  user_000096      f  26.0   Russia  Aug 13, 2025
95  user_000097      m  63.0   India   Sep 12, 2025
96  user_000098      m  46.0    Japan  Jan 01, 2027
97  user_000099      m  34.0    China  Mar 09, 2025
98  user_000100      m  36.0      U.S  Apr 26, 2029

[99 rows x 5 columns]

In [6]:
user_profile.columns = ['#id','gender','age','country','registered']

In [7]:
user_profile.columns

Index(['#id', 'gender', 'age', 'country', 'registered'], dtype='object')

In [8]:
user_profile['age'].max()

84.0

In [9]:
user_profile.describe()

             age
count  87.000000
mean   38.793103
std    18.982328
min    12.000000
25%    23.000000
50%    34.000000
75%    54.000000
max    84.000000

In [10]:
user_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #id         99 non-null     object
 1   gender      99 non-null     object
 2   age         87 non-null     float64
 3   country     99 non-null     object
 4   registered  99 non-null     object
dtypes: float64(1), object(4)
memory usage: 4.0+ KB

In [14]:
user_profile['gender'].value_counts()

m    64
f    35
Name: gender, dtype: int64

In [15]:
user_profile['country'].value_counts()
#value_counts calculate unique word and numer of rep.

Japan      17
U.S        17
China      17
India      16
England    16
Russia     16
Name: country, dtype: int64

In [19]:
user_profile['registered'].value_counts()

Aug 13, 2022    1
Sep 12, 2023    1
Apr 26, 2015    1
Mar 09, 2007    1
Mar 09, 2006    1
               ..
Apr 26, 2021    1
Mar 09, 2016    1
Jan 01, 2009    1
Jan 01, 2018    1
Aug 13, 2024    1
Name: registered, Length: 99, dtype: int64

In [ ]:
user_profile